In [ ]:
pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5973 sha256=596638d3702b706b5954b84e5c61a9849c821118396c4b54a1c534e831ad9854
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [ ]:
import numpy as np
import pandas as pd
from apyori import apriori

In [ ]:
data = pd.read_csv('tips.csv')

In [ ]:
data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
data.shape

(244, 7)

In [ ]:
records = []
for i in range(0,224):
  records.append([str(data.values[i,j]) for j in range(0,7)])

In [ ]:
ass_rules = apriori(records, min_support=0.5,confidence=0.7)
results = list(ass_rules)

In [ ]:
results

[RelationRecord(items=frozenset({'2'}), support=0.6294642857142857, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'2'}), confidence=0.6294642857142857, lift=1.0)]),
 RelationRecord(items=frozenset({'Dinner'}), support=0.7098214285714286, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Dinner'}), confidence=0.7098214285714286, lift=1.0)]),
 RelationRecord(items=frozenset({'Male'}), support=0.6383928571428571, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'Male'}), confidence=0.6383928571428571, lift=1.0)]),
 RelationRecord(items=frozenset({'No'}), support=0.6339285714285714, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'No'}), confidence=0.6339285714285714, lift=1.0)])]